In [162]:
--Selected all records within the dataset
--Ordered by number of games sold highest to lowest
--Top ten only
Select
    *
from
    game_sales
order by
    games_sold desc
limit 10;

10 rows affected.

[('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Super Mario Bros. for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive for PC', 'PC', 'Valve', 'Valve Corporation', Decimal('40.00'), 2012),
 ('Mario Kart Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.60'), 2017),
 ('Minecraft for PC', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version for GB', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros. for DS', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.80'), 2006),
 ('New Super Mario Bros. Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.30'), 2009)]

In [164]:
%%sql 

select 
    count(*)
from
    game_sales
full join reviews
    using (game)
where 
    critic_score is null and --Found any records that had null values
    user_score is null;

 * postgresql:///games
1 rows affected.

[(31,)]

In [168]:
--Selected year, average critic score, and number of games
--Joined datasets by game name
--Grouped by year
--Returned only records whose gameis greater than 4
--Ordered by critic score 

Select 
    year,
    round(avg(critic_score),2) as avg_critic_score,
    count(game_sales.game) as num_games 
from
    game_sales
inner join reviews
    using (game)   
group by 
        year
having
    count(game_sales.game) > 4   
order by 
    avg_critic_score desc
limit 10;

 * postgresql:///games
10 rows affected.

[(1998, Decimal('9.32'), 10),
 (2004, Decimal('9.03'), 11),
 (2002, Decimal('8.99'), 9),
 (1999, Decimal('8.93'), 11),
 (2001, Decimal('8.82'), 13),
 (2011, Decimal('8.76'), 26),
 (2016, Decimal('8.67'), 13),
 (2013, Decimal('8.66'), 18),
 (2008, Decimal('8.63'), 20),
 (2012, Decimal('8.62'), 12)]

In [170]:
--Selected year, and avg crtic score
--Returns values excep those that are the same between each dataset

Select 
    year,
    avg_critic_score
from
    top_critic_years
except 
Select 
    year,
    avg_critic_score
from
    top_critic_years_more_than_four_games
order by 
    avg_critic_score desc;

 * postgresql:///games
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

In [172]:
%%sql 

-- Select the year, an average of user_score, and a count of games released in a given year, aliased and rounded
-- Included years with more than four reviewed games

Select 
    year, 
    round(avg(user_score),2) as avg_user_score,
    count(game) as num_games
from
    game_sales
inner join reviews
    using (game)
group by 
    year
having 
    count(game) > 4
order by
    avg_user_score desc
limit 10;

 * postgresql:///games
10 rows affected.

[(1997, Decimal('9.50'), 8),
 (1998, Decimal('9.40'), 10),
 (2010, Decimal('9.24'), 23),
 (2009, Decimal('9.18'), 20),
 (2008, Decimal('9.03'), 20),
 (1996, Decimal('9.00'), 5),
 (2005, Decimal('8.95'), 13),
 (2006, Decimal('8.95'), 16),
 (2000, Decimal('8.80'), 8),
 (1999, Decimal('8.80'), 11)]

In [ ]:
7

In [174]:
%%sql 

-- Selected the year results that appear on both tables
select 
    year 
from
    top_critic_years_more_than_four_games
inner join 
    top_user_years_more_than_four_games
    using (year)
group by year;

 * postgresql:///games
3 rows affected.

[(1998,), (2008,), (2002,)]

In [ ]:
8

In [176]:
%%sql 

--Selected the year and number of games sold
--Placed the prvious query as a subquery to find what years are the same by year

Select 
    year,
    sum(games_sold) as total_games_sold
from
    game_sales
where 
    year in 
    (select 
        year 
    from
        top_critic_years_more_than_four_games
    inner join 
        top_user_years_more_than_four_games
        using (year)
    group by year 
    )
group by
    year
order by 
    total_games_sold desc;

 * postgresql:///games
3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]